<h4 class="display-4">Order Food Item    </h4>
<hr>
<form #form='ngForm' autocomplete="off" (submit)="onSubmit(form)">
        <input type="text" type="hidden" name="OrderId" #OrderId='ngModel' [(ngModel)]= 'formData.OrderId' />
        <input type="text" type="hidden"   name="ID" #ID='ngModel' [(ngModel)]= 'formData.ID' />
        <input type="text" type="hidden"   name="ItemName" #ItemName='ngModel' [(ngModel)]= 'formData.ItemName' />
    <div class="form-group">
        <label>Food Item</label>
        <select type="text" class="form-control" name="PrdID" [class.is-invalid]="!isValid && formData.PrdID==0" #PrdID='ngModel' [(ngModel)]= 'formData.PrdID' (change)="updatePrice($event.target)">
        <option value="0"> Select item</option>
            <option *ngFor='let item of itemList' value="{{item.Id}}">{{item.Name}}</option>
    </select>

    </div>
    <div class="form-row">
    <div class="form-group col-md-6" >
        <label>Quantity</label>
        <input type="text" class="form-control" name="Qty" #Qty='ngModel' [(ngModel)]= 'formData.Qty' 
        [class.is-invalid]="!isValid && formData.Qty==0"
        (keyup)="updateTotal()"/>
    </div>
    <div class="form-group col-md-6">
        <label>Price</label>
<div class="input-group">
    <div class="input-group-prepend">
        <div class="input-group-text">
          #
        </div>
        <input type="text" class="form-control" name="Price" #Price='ngModel' [(ngModel)]= 'formData.Price' readonly/>
    </div>
</div>
      
    </div>
</div>
     <div class="form-group">
        <label>Total</label>
        <input type="text" class="form-control" name="Total" #Total='ngModel' [(ngModel)]= 'formData.Total' readonly/>
    </div> 

    <div class="form-group">
       
        <button  class="btn btn-success " type="submit" >
            <i class="fa fa-plus-square"    >Add</i>
        </button>
        <button  class="btn btn-outline-dark ml-1 " [mat-dialog-close]>
                <i class="fa fa-close"    >Close</i>
            </button>
    </div>
</form>
